digitalquilt/Alex-Wang/digital-quilt/output/patch-1.mkv
digitalquilt/Tahirah-N-Moosa/output/patch-1 interaction.mkv
digitalquilt/Tahirah-N-Moosa/output/patch-2 recording.mkv
*.DS_Store
digitalquilt/Rajan-S-Gill/Patches/output/Patch 1 Clip.mp4
digitalquilt/Rajan-S-Gill/Patches/output/Patch 2 Clip.mp4
digitalquilt/Megan-M-Skilling/dal-mainFolder-BDD-edits/output/patch 2.mp4
digitalquilt/Lili-Kalmar/digital quilt/output/patch 1.mp4
digitalquilt/Lili-Kalmar/digital quilt/output/patch 2.mp4
digitalquilt/Kaushik-Ganeshan/Digital Patches/Output/Patch-2.mov
digitalquilt/Godson-N-Ajieh/Portfolio/p5.js Web Editor _ generative poem - Google Chrome 2021-05-18 22-40-28.mp4
digitalquilt/Farah-L-F-Abdul-Razak/digital-quilt-template/patch-1/recording/CO1110_DIGITAL ARTS_FARAH RAZAK_209027586_The Circular Vivid Polygons 2.mov
digitalquilt/Farah-L-F-Abdul-Razak/CO1110_DIGITAL ARTS_FARAH RAZAK_209027586_The Circular Vivid Polygons.mov
digitalquilt/Sharon-I-Ebhomeya/Digital_Quilt_209014754/Patch1.MOV
digitalquilt/Sharon-I-Ebhomeya/Digital_Quilt_209014754/Patch2.MOV
concurrent-design/vaac/VAAC tour.mp4
